Language: Cpp
Standard: Latest
BasedOnStyle: LLVM
ColumnLimit: 100
InsertNewlineAtEOF: true
IncludeBlocks: Regroup
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: true
AlwaysBreakTemplateDeclarations: Yes
LambdaBodyIndentation: OuterScope
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
ReferenceAlignment: Left
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
